$colorFondoPrincipal: #FF585D;

@mixin bgcolor-pos-top {
    background-color: $colorFondoPrincipal;
    position: absolute;
    top: 5%;
}

// carrusel de Bootstrap 
#carouselExampleFade {
    position: relative;
    top: 10%;
}

body {
    background-color: $colorFondoPrincipal;
}
//barra de navegación
.navbar {
    z-index: 1;
}

main {
    position: relative;
    top: 10%;
    background-color: $colorFondoPrincipal;
    padding-bottom: 3rem;
}

.blog {
    @include bgcolor-pos-top;
    padding: 2rem;
    display: inline-block;
    img {
        position: relative;
        left: 86%;
        display: inline-block;
    }
    div {
        border: 1px solid black;
        margin: 10px;
        padding: 1.2rem;
        img {
            width: 30%;
            padding: 1rem;
        }
    }
}

.contacto {
    @include bgcolor-pos-top;
    display: block;
    width: 100%;
    padding: 2rem;
   
}

.quienes_somos {
    @include bgcolor-pos-top;
    padding: 2rem;
    position: absolute;
    top: 1rem;
    p {
        font-size: 20px;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: grey;
    padding: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
    
} // no funciona en: about, blog, contacto 


//contenedor de servicios en la página "Servicios"
.div-servicios {
    padding: 2rem;
    div {
        display: inline-block;
        width: 20%;
        height: 20%;
        background-color: whitesmoke;
        margin: 0.5rem;
        p {
            padding: 6px;
            display: flex;
            flex-wrap: wrap;
        }
        img {
            width: 30%;
            margin: auto;
            padding-top: 7px;
            display: flex;
            justify-content: center;
        }
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: $colorFondoPrincipal;
  }

.row {
    padding-bottom: 4rem;
}