$colorFondoPrincipal: #FF585D;

@mixin bgcolor-pos-top {
    background-color: $colorFondoPrincipal;
    position: absolute;
    top: 5%;
}

// carrusel de Bootstrap 
#carouselExampleFade {
    position: relative;
    top: 10%;
}

main {
    position: relative;
    top: 10%;
    background-color: $colorFondoPrincipal;
}

.blog {
    @include bgcolor-pos-top;
    img {
        position: relative;
        left: 86%;
        display: inline-block;
    }
    div {
        border: 1px solid black;
        margin: 10px;
        img {
            width: 10%;
        }
    }
}

.contacto {
    @include bgcolor-pos-top;
    div {
        display: inline-block;
        width: 40%;
    }
}

.quienes_somos {
    @include bgcolor-pos-top;
    display: grid;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 1%;
} // no funciona ni en about ni en blog 

.div-servicios {
    div {
        display: inline-block;
        width: 20%;
        img {
            width: 30%;
        }
    }
}

.navbar {
    z-index: 1;
}